{% extends "main.html" %}
{% block content %}
<section class="banner-area relative blog-home-banner" id="home">	
	<div class="overlay overlay-bg"></div>
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content blog-header-content col-lg-12">
				<h1 class="text-white">
					Dude You’re Getting
					a Telescope				
				</h1>	
				<p class="text-white">
					There is a moment in the life of any aspiring astronomer that it is time to buy that first
				</p>
				<a href="blog-single.html" class="primary-btn">View More</a>
			</div>	
		</div>
	</div>
</section>
<section class="top-category-widget-area pt-90 pb-20 ">
		
</section>
<section class="post-content-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					
					<div class="">
						<div class="feature-img">
							<img class="img-fluid" src="{{ url_for('static', filename='img/blog/feature-img1.jpg') }}" alt="">
						</div>
						<a class="posts-title" href="blog-single.html"><h3>Astronomy Binoculars A Great Alternative</h3></a>
						<p class="excert">
							MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
						</p>
						<a href="blog-single.html" class="primary-btn">View More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 sidebar-widgets">
				<div class="widget-wrap">
					<div class="single-sidebar-widget search-widget">
						<form class="search-form" action="#">
							<input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
					
					<div class="single-sidebar-widget popular-post-widget">
						<h4 class="popular-title">Popular Posts</h4>
						<div class="popular-post-list">
							<div class="single-post-list d-flex flex-row align-items-center">
								<div class="thumb">
									<img class="img-fluid" src="img/blog/pp1.jpg" alt="">
								</div>
								<div class="details">
									<a href="blog-single.html"><h6>Space The Final Frontier</h6></a>
									<p>02 Hours ago</p>
								</div>
							</div>
							<div class="single-post-list d-flex flex-row align-items-center">
								<div class="thumb">
									<img class="img-fluid" src="img/blog/pp2.jpg" alt="">
								</div>
								<div class="details">
									<a href="blog-single.html"><h6>The Amazing Hubble</h6></a>
									<p>02 Hours ago</p>
								</div>
							</div>
							<div class="single-post-list d-flex flex-row align-items-center">
								<div class="thumb">
									<img class="img-fluid" src="img/blog/pp3.jpg" alt="">
								</div>
								<div class="details">
									<a href="blog-single.html"><h6>Astronomy Or Astrology</h6></a>
									<p>02 Hours ago</p>
								</div>
							</div>
							<div class="single-post-list d-flex flex-row align-items-center">
								<div class="thumb">
									<img class="img-fluid" src="img/blog/pp4.jpg" alt="">
								</div>
								<div class="details">
									<a href="blog-single.html"><h6>Asteroids telescope</h6></a>
									<p>02 Hours ago</p>
								</div>
							</div>															
						</div>
					</div>
													
				</div>
			</div>
		</div>
	</div>	
</section>
{% endblock %}